.App {
  text-align: center;
  margin: 20px;
}

.Capture{
  margin-top: 10px;
  padding: 8px 16px;
  cursor: pointer;
  background-color: black;
  color: white;
}

.Dockpoints{
  margin-top: 10px;
  padding: 8px 16px;
  cursor: pointer;
  background-color: black;
  color: white;
}

.photo-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 10px;
  justify-content: center;
}

/* Container to hold each image + overlay */
.image-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}


.captured-image {
  width: 150px;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 8px;
}


.overlay {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background: rgba(255, 0, 0, 0.7);
  padding: 2px 8px;
  border-radius: 50%;
}


.image-wrapper {
  position: relative;
  display: inline-block;
}

.image-number {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  margin: center;
}
