.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.image-container {
  position: relative;
  width: 150px;
  height: 150px;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.captured-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.image-number {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #0ff;
  text-shadow: 0 0 10px #0ff, 0 0 20px #0ff;
}

.greyed-out .captured-image {
  filter: grayscale(100%);
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.delete-button:hover {
  background: darkred;
}

.chart-container {
  margin-top: 50px;
  width: 80%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
